ccxt==1.77.62
pandas==1.4.1
numpy==1.22.3
pycoingecko==2.2.0
pathlib==1.0.1
PyYaml==6.0
schedule==1.1.0
python-telegram-bot>=13.9
pydantic==1.9.0
aenum==3.1.11
redo==2.0.4
plotly==5.6.0
dash==2.3.1
kaleido==0.2.1
flask-login==0.6.0
Flask==2.1.1
dash-bootstrap-components==1.0.3
requests==2.27.1
python-dotenv==0.20.0
authlib==1.0.0
six==1.16.0
werkzeug
gevent==21.12.0
dash-extensions==0.0.71
currencyconverter==0.16.10
coloredlogs==15.0.1