ccxt==1.71.59
pandas==1.4.0
numpy~=1.21.2
scikit-learn==1.0.1
pycoingecko~=2.2.0
pathlib~=1.0.1
PyYaml==6.0
schedule~=1.1.0
python-telegram-bot>=13.9
pydantic~=1.8.2
aenum~=3.1.0
redo~=2.0.4
plotly==5.5.0
dash~=2.0.0
kaleido~=0.2.1
flask-login~=0.5.0
Flask~=2.0.1
dash-bootstrap-components~=1.0.2
requests==2.27.1
python-dotenv~=0.19.2
authlib~=0.15.5
six~=1.16.0
werkzeug~=2.0.2
gevent~=21.12.0
dash-extensions~=0.0.67
currencyconverter~=0.16.7
coloredlogs~=15.0.1