<!DOCTYPE html>
<div class="col-12 col-md-3 col-xl-2 px-md-2 px-0 bg-dark d-flex sticky-top">
    <div class="d-flex flex-md-column flex-row flex-grow-1 align-items-center align-items-md-start px-3 pt-2 text-white">
        <a href="dashboard" class="d-flex align-items-center pb-md-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-inline">F</span><span class="d-none d-md-inline">undless</span>
        </a>
        <ul class="nav nav-pills flex-md-column flex-row flex-nowrap flex-shrink-1 flex-md-grow-0 flex-grow-1 mb-md-auto mb-0 justify-content-center align-items-center align-items-md-start" id="menu">
            <li class="nav-item">
                <a href="dashboard" class="nav-link px-md-0 px-2 my-2 text-light">
                    <i class="fas fa-chart-line"></i><span class="ms-2 d-none d-md-inline">Dashboard</span> </a>
            </li>
            <li class="nav-item">
                <a href="holdings" class="nav-link px-md-0 px-2 my-2 text-light">
                    <i class="fas fa-align-justify"></i><span class="ms-2 d-none d-md-inline">Holdings</span></a>
            </li>
            <li class="nav-item">
                <a href="trades" class="nav-link px-md-0 px-2 my-2 text-light">
                    <i class="fas fa-exchange-alt"></i><span class="ms-2 d-none d-md-inline">Trades</span></a>
            </li>
            <li class="nav-item">
                <a href="strategy" class="nav-link px-md-0 px-2 my-2 text-light">
                    <i class="fas fa-piggy-bank"></i><span class="ms-2 d-none d-md-inline">Savings Plan</span> </a>
            </li>
        </ul>
        <div class="dropdown py-md-4 mt-md-auto ms-auto ms-md-0 flex-shrink-1">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/identicon.png" alt="hugenerd" width="28" height="28" class="rounded-circle"></img>
                <span class="d-none d-md-inline mx-2">User</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider"></hr>
                </li>
                <li><a class="dropdown-item" href="logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
