._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: black;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}

/* Horizontal bar chart for savings plan weights */
#index_chart {
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

#index_chart div {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alloc_entry_0 {
    background: #d6cbd3
}
.alloc_entry_1 {
    background: #eca1a6
}
.alloc_entry_2 {
    background: #bdcebe
}
.alloc_entry_3 {
    background: #ada397
}
.alloc_entry_4 {
    background: #d5e1df
}
.alloc_entry_5 {
    background: #e3eaa7
}
.alloc_entry_6 {
    background: #b5e7a0
}
.alloc_entry_7 {
    background: #86af49
}
/* When you mouse over the navigation links, change their color */
.nav-link:hover {
  color: #064579;
}

/* restyle radio items for exchange selection on savings plan page*/
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}


.crypto-icon {
    display: inline;
    width: 4em;
    margin-right: 1em;
}

.crypto-icon img {
    height: 2em;
    width: auto;
}

.collapsing {
  -webkit-transition: height .15s ease;
       -o-transition: height .15s ease;
          transition: height .15s ease;
}

.card-item {

}

.crypto-icon-small {
    display: inline;
    height: 1em;
    width: auto;
    margin: 0.25em 0.25em;
    vertical-align: middle;
}

.coin-symbol-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trade-card-text {
    display: inline-block;
    /*max-width: 100px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trade-card-body {
    height: auto;
    width: auto;
}

.chart_time_range {
    width: auto;
    margin: 1rem 0;
}

.crypto-text {
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
}

.volume-input {
    max-width: 10em
}

/* Align Badges within Info Cards for Coin Winners and Losers */
h6>.badge {
    margin-top: -0.25em;
    margin-left: 0.5em;
    vertical-align: middle;
}

.table-cell {
    /*display: flex;*/
    vertical-align: middle;
    /*height: 4rem;*/
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}

.settings-card {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 4em;
}

.info-text {
    display: inline-block;
    min-width: 5em;
}

.info-badge {
    display: inline-block;
    min-width: 5em;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

.chart {
    aspect-ratio: 2 / 1;
}

@media(max-width:575px) {
    .crypto-text {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .settings-card {
        padding: 1em 1em;
    }
}
